#work {

	/*background-image:url('http://placehold.it/2000x1200/F7563D');*/

	background-image:url('/images/bg/workWith.jpg');


}


#work h1, h2, h3, h4, h5, h6 {

	text-transform: none;

}


#cta {
	background: #fff;
	
}