#about {

	/*background-image:url('http://placehold.it/2000x1200/00ffe4');*/
	background-image:url('/images/bg/aboutMe.jpg');


}


#about h1, h2, h3, h4, h5, h6 {

	text-transform: none;


}

/*headers for about sections */




.section3-heading h2, h3, h4{
	
	font-family: helvetica;
	
}

.section3-headingLight h2 {
	
	color: #fff;

}

/*lead text for skills sections */
.section3-subheading .lead{
	
	font-size: 26px;
	text-transform: none;
	color: #2c3e50;

}


.section3-subheadingLight .lead{
	
	font-size: 26px;
	text-transform: none;
	color: #fff;

}











/***********BACKGROUNDS FOR SECTION 3********************/

#exp{
	/*background: #008778;*/
	background: #fff;

}


#whoami{
	
	background: #00ffe4;
	

}


#hobbies{
	background: #00685d;

}

#what{
	background: #fff;

}

/***********************END****************************/